<%= render 'layouts/components/breadcumb', params: [
  ["Kosan ku", kosans_path],
  ["Buat baru", nil]
] %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Buat Kosan Baru</h1>

  <%= render "form", kosan: @kosan %>

</div>
